.App {
  text-align: center;
  display: flex;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.sidemenu {
  width: 260px;
  padding: 10px;
  border: 1ps solid white !important;
  background-color: #202123;
}

.side-menu-button {
  padding: 12px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: left;
}

.side-menu-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.side-menu-button span {
  padding-left: 6px;
  padding-right: 12px;
}

.chatbox {
  flex: 1;
  border: 1px solid white !important;
  background-color: #343541;
  position: relative;
}

.chat-log {
  text-align: left;
}

.chat-message.chatgpt {
  background-color: #444654;
}

.chat-message-center {
  padding: 12px;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.message{
  padding-left: 20px;
}

.avatar {
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.avatar.chatgpt {
  background: #0da37f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.chat-input-holder {
  padding: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.chat-input-textarea {
  background-color: #40414f;
  width: 90%;
  margin: 12px;
  padding: 12px;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.25);
  font-size: 1.25em;
}

@media screen and (max-width: 600px) {
  .App{
    flex-direction: column;
  }
}